<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstring>
    <add key="ESGConnection" value="Data Source=localhost;Initial Catalog=ESG_AJ;TrustServerCertificate=True;Integrated Security=True;">
    </add>
  </connectionstring>

  <system.web>
    <compilation debug="true" defaultlanguage="c#"></compilation>
  </system.web>

</configuration>